services:
  {{app_name}}:
    image: minion_{{app_name}}
    restart: unless-stopped
    networks:
      - traefik_network
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.{{app_name}}.rule={{host_rules}}"
      - "traefik.http.routers.{{app_name}}.entrypoints=websecure"
      - "traefik.http.routers.{{app_name}}.tls.certresolver=letsencrypt"
      - "traefik.http.services.{{app_name}}.loadbalancer.server.port={{port}}"
{{volumes_section}}

networks:
  traefik_network:
    external: true